* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.heading-1 {
    word-wrap: break-word;
    text-align: start;
    font-style: italic;
}

.wrapper {
    width: 100%;
}

.wrap-item-1 {
    margin: 32px 32px 16px;
}

.wrap-item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.card {
    text-align: center;
}

.card-1, .card-2, .card-3{
    margin: 32px;
}

.guide-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    font-style: italic;
}

@media (max-width: 540px) {
    .heading-1 {
        text-align: center;
        font-size: 24px;
    }
    
    .jumbotron {
        text-align: center;
        font-size: 24px;
    }

    .current-location-text {
        font-size: 30px;
    }

    .card-1, .card-2, .card-3 {
        overflow: auto;
        align-items: center;
        max-width: 100%;
        margin: 16px;
        font-size: 12px;
    }

    .card-text {
        font-style: italic;
    }
}
