body {
    max-width: 100%;
    overflow-x: hidden;
}

.heading-1 {
    word-wrap: break-word;
    text-align: start;
    font-style: italic;
}

.wrapper {
    width: 100%;
}

.wrap-item-1 {
    margin: 32px 32px 16px;
}

/* card block */

.wrap-item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.temp {
    margin: 0;
    margin-bottom: 0.4em;
    font-weight: 300;
}
  
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}
 
.card {
    text-align: center;
    padding: 30px;
    margin-bottom: 32px!important;
}

.card-temperature {
    font-size: 24px;
}

.card-date {
    font-style: italic;
    font-size: 12px;
}

.guide-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0 32px;
    font-style: italic;
}

/* card block */

footer {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.logo-link-1 {
    font-size: 24px;
    color: #4267B2;
    margin: 10px;
}

.logo-link-2 {
    font-size: 24px;
    color: #00acee;
    margin: 10px;
}

.logo-link-3 {
    font-size: 24px;
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #ffdc7d 0%, #ffdc7d 5%, #f46f30 45%, #c32aa3 60%, #4c5fd7 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #ffdc7d 0%, #ffdc7d 5%, #f46f30 45%, #c32aa3 60%, #4c5fd7 90%);
    background-clip: text;
    -webkit-background-clip: text;
    margin: 10px;
}

.logo-link-4 {
    font-size: 24px;
    color: #0072b1;
    margin: 10px;
}

.logo-link-5 {
    font-size: 24px;
    color: #262626;
    margin: 10px;
}

@media (max-width: 540px) {

    .navbar {
        display: flex;
        justify-content: center!important;
    }

    .navbar-brand {
        font-size: 36px!important;
        margin: 4px;
    }

    form {
        width: 100%;
    }

    .form-inline {
        display: flex;
        justify-content: center;
    }

    .wrap-item-1 {
        margin: 32px 2px 16px!important;
    }

    .heading-1 {
        text-align: center;
        font-size: 24px;
    }
    
    .jumbotron {
        text-align: center;
        font-size: 24px;
    }

    .card {
        overflow: auto;
        align-items: center;
        margin: 2px;
        font-size: 12px;
        max-width: 100%;
    }

    .card-temperature {
        font-size: 18px;
    }

}

@media (min-width: 540px) {
    .navbar {
        display: flex!important;
        justify-content: space-between!important;
    }

    .navbar-brand {
        font-size: 24px!important;
        margin: 4px;
    }
}

@media (width: 540px) {
    .navbar {
        display: flex;
        justify-content: center!important;
    }

    .navbar-brand {
        font-size: 24px!important;
        margin: 4px;
    }
}
