.grid-container {
    display: grid;
    grid-template-columns: minmax(285px, auto) 1080px;
    grid-column-gap: 20px;
    margin: 20px;
}

.card {
    height: 345px;
}

.jumbotron {
    height: 345px;
}